body {
  padding: 20px;
  margin: 10px;
}

h1 {
  font-style: italic;
  font-family: monospace;
}

.jumbotron {
  background-image: url("https://media.giphy.com/media/IsfrRWvbUdRny/giphy.gif");
  color: white;
}

#romanForm {
  text-align: center;
}

#result {
  text-align: center;
}
